/*
*   Turin (HTML)
*   Copyright 2015, Limitless
*   www.limitless.company
*/


/* Table of Content
==================================================
	#Bebas Neue
	#Montserrat */


/* Bebas Neue
================================================== */

	@font-face {
	    font-family: 'Bebas Neue';
	    font-stretch: normal;
		font-weight: 400;
	    src: url('../fonts/bebasneue/bebasneue-regular.eot');
	    src: url('../fonts/bebasneue/bebasneue-regular.eot') format('embedded-opentype'),
	         url('../fonts/bebasneue/bebasneue-regular.woff') format('woff'),
	         url('../fonts/bebasneue/bebasneue-regular.ttf') format('truetype'),
	         url('../fonts/bebasneue/bebasneue-regular.svg#BebasNeueRegular') format('svg');
	}

	@font-face {
	    font-family: 'Bebas Neue';
	    font-stretch: normal;
		font-weight: 300;
	    src: url('../fonts/bebasneue/bebasneue-book.eot');
	    src: url('../fonts/bebasneue/bebasneue-book.eot') format('embedded-opentype'),
	         url('../fonts/bebasneue/bebasneue-book.woff') format('woff'),
	         url('../fonts/bebasneue/bebasneue-book.ttf') format('truetype'),
	         url('../fonts/bebasneue/bebasneue-book.svg#BebasNeueBook') format('svg');
	}



/* Libre Baskerville
================================================== */

	@font-face {
	    font-family: 'Libre Baskerville';
	    src: url('../fonts/librebaskerville/librebaskerville-regular.eot');
	    src: url('../fonts/librebaskerville/librebaskerville-regular.eot') format('embedded-opentype'),
	         url('../fonts/librebaskerville/librebaskerville-regular.woff') format('woff'),
	         url('../fonts/librebaskerville/librebaskerville-regular.ttf') format('truetype'),
	         url('../fonts/librebaskerville/librebaskerville-regular.svg#LibreBaskervilleRegular') format('svg');
	}

	@font-face {
	    font-family: 'Libre Baskerville';
	    src: url('../fonts/librebaskerville/librebaskerville-bold.eot');
	    src: url('../fonts/librebaskerville/librebaskerville-bold.eot') format('embedded-opentype'),
	         url('../fonts/librebaskerville/librebaskerville-bold.woff') format('woff'),
	         url('../fonts/librebaskerville/librebaskerville-bold.ttf') format('truetype'),
	         url('../fonts/librebaskerville/librebaskerville-bold.svg#LibreBaskervilleBold') format('svg');
	}



/* Montserrat
================================================== */

	@font-face {
	  font-family: 'Montserrat';
	  font-style: normal;
	  font-weight: 400;
	  src: url('../fonts/montserrat/Montserrat-Regular.eot');
	  src: url('../fonts/montserrat/Montserrat-Regulard41d.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
	       url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
	       url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	}

	@font-face {
	  font-family: 'Montserrat';
	  font-style: normal;
	  font-weight: 700;
	  src: url('../fonts/montserrat/Montserrat-Bold.eot');
	  src: url('../fonts/montserrat/Montserrat-Boldd41d.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
	       url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
	       url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	}